{% extends 'index1.html' %}

{% block content %}
<div class="container">
    <br>
    <br>
    <p style="text-align: center;"><strong>Добро пожаловать в 9 урок!</strong></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: left;">Привет будущие программисты! Сегодня мы рассмотрим с Вами новую интересную тему - функции. Но все таки --> начнем с повтора того, что нам уже на данный момент известно. Мы на прошлых уроках - вытаскивали шарики из нашей "коробки с языком python". Давайте посмотрим, какие шары нам уже известны.<br /><br /><img src="../static/img/circles.jpg" width=100% alt="ввв" /></p>
    <p style="text-align: left;">&nbsp;</p>


    <ol>
    <li>print() - управляет выводом информации.&nbsp;</li>
    <li>input() - управляет вводом информации.</li>
    <li>import() - позволяет нам что-то позаимствовать из другой программы.</li>
    <li>if-else - управляет ходом программы.</li>
    <li>for - управляет повторения инструкций.</li>
    </ol>
    <p>Нарисованные шарики --> это наши инструменты, которыми, мы овладели на данный момент курса. Очень неплохо, нами проделана большая работа, и мы можем собой гордиться! Вы большой молодец!. Отдохните и позвольте себе что приятное). Как будете готовы, продолжайте)<br /><br />Но нам с Вами интересен - последний шарик. Тот самый, у которого - знак вопроса. Знакомьтесь, наш следующий шарик - это функция --> <b>def</b>.</p>
    <br>

    <p>Функция - это некий набор инструкций, который, мы можем использовать снова и снова, чтобы выполнить определенную задачу. Понять функцию, не так уж и сложно, отчасти человек пользуется чем то очень-очень похожим. Например, в детстве мы с все с Вами учили язык, путали слова, или даже посещали логопеда. Нам точно было нелегко и мы сильно старались, пытались понять как звучит та или иная буква в составе слова. Получается мы с Вами поняли,
        как пользоваться языком, то есть как бы запомнили в своей голове инструкции родного языка. Осознали правила.&nbsp;<br /><br />Теперь, после запоминания инструкций в нашей памяти, мы можем в своей жизни в любой момент использовать эти инструкциями из памяти. Когда нам нужно заговорить, наш мозг просто воспроизводит эти инструкции, которые мы так старательно учили в детстве. Похожий пример можем привести с менее глобальной функцией - завязывание шнурков. Мы долго и старательно учились, запихивали эти шнурки внутрь кросовка, но (надеюсь), всеже выучили как завязывать шнурки. То есть абсолютно точно также, наш мозг как бы записал в себя инструкции от наших родителей, по завязыванию шнурков. И теперь где бы нам не пришлось завязывать шнурки мы просто воспроизводим, выученный нами ранее набор инструкций.&nbsp;<br /><br />То есть человек - очень хорошо владеет различными функциями, способен что-то запомнить и выучить, а в последствии всю свою жизнь применять.</p>
    <p>Если с реальной жизнью - все понятно. Мы создаем в своей голове некие наборы инструкций (функции), а после можем их в любой подходящий момент воспроизводить, то как обстоят дела с программированием? Нужны ли в программах - функции? Для того, чтобы понять, как нам может помочь функция в программировании, давайте попробуем вспомнить одну из самых популярных компьютерных игр. Динозаврика.</p>
    <br>
    <p><img src="../static/img/dino.webp" width=100% alt="вввв" /></p>
    <p>&nbsp;</p>

    <p>&nbsp;</p>
    <p>Как видите - Динозаврик довольно много прыгает. Видимо - он хорошо научился это делать в детстве. И создал в своей голове функцию (набор инструкций) - "прыжок". Если движения динозаврика, представить линией - то получится, примерно следующее.</p>
        <p><img src="../static/img/dino2.jpg" width=100% alt="вввв" /></p>
    <p>Попробуем нарисовать такую линию нашим модулем Грегола Лингла - "turtle".&nbsp;</p>
    <p>Давай те сначала представим прыжок. Можем воспроизвести прыжок динозаврика - следующими командами:</p>
    <p>&nbsp;</p>
    <p>--left(90)</p>
    <p>--forward(30)</p>
    <p>--right(90)</p>
    <p>--forward(30)</p>
    <p>--right(90)</p>
    <p>--forward(30)</p>
    <p>--left(90)</p>
    <p>&nbsp;</p>
    <p>Выглядеть этот кусочек кода будет вот так: ----&gt;</p>
        <p><img src="../static/img/1g.gif" width=100% alt="вввв" /></p>
    <p>&nbsp;</p>
    <p>Представим теперь, что динозаврику нужно перепрыгнуть 3 препятствия.&nbsp;&nbsp;Его движения на экране примут такую продолжающуюся линию ---&gt;&nbsp;</p>
        <p><img src="../static/img/repeat_line.jpg" width=100% alt="вввв" /></p>
    <p>&nbsp;</p>
    <p>И теперь придется изменить и программу</p>
            <p><img src="../static/img/repeat_blok.jpg" width=100% alt="вввв" /></p>
    <p>&nbsp;</p>
    <p>Теперь программа занимает аж 27 строк! Что является нашей самой большой программой. И несмотря, на то, что мы могли бы себя похвалить за старания, нам стоит задуматься, не сделали ли мы с Вами случайно лишнюю работу? Настоящий программист - ленивый программист! Программист точно не захочет выполнять лишнюю работу. Поэтому в программистком сообществе - даже придумали правило ---&gt; Не повторяйся.</p>
            <p><img src="../static/img/header.png" width=100% alt="вввв" /></p>
    <p>&nbsp;</p>
    <p>И теперь - мы можем с Вами связать две части урока. Как поступал человек? Он сначала выучивал инструкции по завязыванию шнурков, сохранял их у себя в голове, а потом пользовался ими всякий раз, когда нужно было завязать шнурки. То есть человек сохранял в своей памяти нужные инструкции. И тогда мы могли бы сказать, что человек приобретал функцию - завязывания шнурков.</p>
    <p>Но может ли так сделать программа? Конечно! У нас же есть память, которую мы можем нарезать на разного рода кусочки (побольше и поменьше). Давайте отрежем от памяти довольно большой кусочек. Дадим нашему переводчику такие указания:<br /><br /><strong>def jump():&nbsp; ---&gt; </strong></p>
    <ul>
    <li><strong>слово def сокращение от слова define (задать, описать). Здесь мы говорим что хотим отрезать и кусок памяти и положить в него инструкции.</strong></li>
    <li><strong>слово jump - определяет как будет называться наш кусок памяти с инструкциями.</strong></li>
    <li><strong>() - некий контекст вызова (поговорим о нем чуть ниже)</strong></li>
    <li><strong>: - указание переводчику, что мы закончили&nbsp;определять функцию.</strong></li>
    </ul>
    <p><strong>внутри мы разместим наш набор инструкций прыжка, который мы определили ранее и все вместе получится:</strong></p>
    <p>&nbsp;</p>
    <p><strong>def jump():</strong></p>
    <p><em><strong>&nbsp; &nbsp; t.left(90)</strong></em></p>
    <p><em><strong>&nbsp; &nbsp; t.forward(30)</strong></em></p>
    <p><em><strong>&nbsp; &nbsp; t.right(90)</strong></em></p>
    <p><em><strong>&nbsp; &nbsp; t.forward(30)</strong></em></p>
    <p><em><strong>&nbsp; &nbsp; t.right(90)</strong></em></p>
    <p><em><strong>&nbsp; &nbsp; t.forward(30)</strong></em></p>
    <p><em><strong>&nbsp; &nbsp; t.left(90)</strong></em></p>
    <br>
    <p><img src="../static/img/define.jpg" width=100% alt="вввв" /></p>
    <p>&nbsp;</p>

    <p>У нас получилось сохранить в памяти некий набор инструкций. И если теперь этот набор инструкций сохранен под именем jump. То есть мы теперь можем пользоваться этим набором инструкций в любом месте программы и столько раз, сколько захотим.&nbsp;<br /><br /></p>
    <p>Для того чтобы, вызвать этот набор инструкций нужно просто воспользоваться стандартным способом:</p>
    <p>&nbsp;</p>
    <p>сначала произнести заклинание --&gt; jump</p>
    <p>а после добавить взмах волшебной палочкой --&gt; ()</p>
    <p>&nbsp;</p>
    <p>то есть --&gt; <strong>jump()</strong></p>
        <br>
    <p><img src="../static/img/vids.gif" width=100% alt="вввв" /></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>Что мы теперь можем отметить?&nbsp;</p>
    <ul>
    <li>У нас исчезли повторяющиеся блоки кода</li>
    <li>Программа стала значительно меньше</li>
    </ul>
    <p>&nbsp;</p>
    <p>Таким образом мы можем с Вами сохранять абсолютно любые кусочки кода, создавая новые функции и применяя их в нашей программе.&nbsp;<br />Вот пример трех функций. Вы можете скопировать себе в программу эти функции:</p>
    <p><strong>def square(): #квадрат<br />&nbsp; &nbsp; for i in range(4):<br />&nbsp; &nbsp; &nbsp; &nbsp; t.forward(100)<br />&nbsp; &nbsp; &nbsp; &nbsp; t.left(90)</strong></p>
    <p><strong>def circle(): #круг<br />&nbsp; &nbsp; for i in range(360):<br />&nbsp; &nbsp; &nbsp; &nbsp; t.forward(1)<br />&nbsp; &nbsp; &nbsp; &nbsp; t.left(1)</strong></p>
    <p>&nbsp;</p>
    <p>Вообщем-то можем подвести промежуточный итог, мы можем взять любой набор инструкций, и упаковать его в большую коробочку-переменную (кусок память), а потом в нужный нам момент времени попросить этот набор инструкций исполниться. Нужно только написать имя нашей коробочки-переменной и поставить ().</p>
    <p>Если наша коробочка называется jump и в ней находятся инструкции. То мы запустим их командой jump(). Круто!</p>
    <p>Но у меня к Вам есть вопрос, не похожи ли случайно наши изученные команды. Сравните:</p>
    <p>&nbsp;</p>
    <p>--&gt; print()</p>
    <p>--&gt; jump()</p>
    <p>&nbsp;</p>
    <p>Да! В точку! print() - это тоже функция, то есть набор инструкций, которые мы запускаем. И это приоткрывает нам тайну работы команды, которые мы с Вами уже выучили.&nbsp;</p>
    <p>Но остается лишь один неразрешенный вопрос. Когда мы вызываем функцию print() - внутрь скобочек, мы можем что-то передавать. Например внутри можем расположить 1. И это будет сигналом, что вывести нам нужно будет цифру 1.</p>
    <p>Может ли наша с Вами функция jump что-то принимать? Ответ - конечно может. Для того, что бы отправить что-то в функцию, нам нужно немного модернизировать наш код.</p>
    <p><img src="../static/img/jump_wait.jpg" width=100% alt="вввв" /></p>
    <p>&nbsp;</p>
    <p>Для того, что бы указать переводчику, что функция jump кого-то ожидает, нужно еще немного изменить код!&nbsp;</p>
    <p>&nbsp;</p>
    <p><img src="../static/img/jump_wait2.jpg" width=100% alt="вввв" /></p>
    <p>&nbsp;</p>
    <p>Давайте посмотрим как функция с ожиданием коробочки - будет представлена в памяти</p>
    <p>&nbsp;</p>
    <p><img src="../static/img/jump_wait3.jpg" width=100% alt="вввв" /></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>С детства мы все тоже научились прыгать, и нам часто это пригождается в жизни, мы перепрыгиваем препятствия (лужи, грязь). Но для того, чтобы сделать прыжок, нам нужна информация насколько далеко прыгать. Без этой информации человеческий прыжок через лужу, был бы попросту невозможен, так как нельзя было бы рассчитать, насколько сильно нужно отталкиваться при прыжке.<br /><br /></p>
    <p>Ту примерно то же самое, некоторым функциям, нужна дополнительная информация, и эту информацию функция может ожидать и размещать в специальных коробочках, которыми потом может воспользоваться. Итоговый вариант нашей функции, мог быть таким.<br /><br /><img src="../static/img/vvv111.gif" width=100% alt="вава" /></p>
    <p>&nbsp;</p>
    <p>В этом финальном варианте функции, мы не просто размещаем переданные данные в коробочку функции, но и еще пользуемся этой коробочкой.&nbsp;<br /><br /></p>

</div>

{% endblock content%}