{% extends 'index1.html' %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <center><h6>Добро пожаловать! Это - уже 10 урок нашего курса!</h6></center>
        <br><br>
        <center><p>Что бы нам с Вами, закрепить прошлый материал - давайте пройдем обстоятельный тест!</p></center>
        <div class="test">
            <script> (function(d, o) { if (d.getElementById(o.id)) return; var s = d.createElement('script'); s.id = o.id; s.async = true; s.type = 'text/javascript'; s.src = 'https://madte.st/sdk-v2.js'; s.onload = function (){ new Madtest(o); }; d.head.appendChild(s); })(document, {"testId":"xlvGP3ua"});</script> <div class="madtest" data-id="xlvGP3ua"></div>
        </div>
        <br>
        <p>Давайте, для начала, кое-что вспомним! Нами уже на данный момент изучены 6 больших инструментов python. Картинка ниже - напомнит Вам о том, что нам уже известно!</p>
        <p><img src="../static/img/puzzlinks.jpg" width=100% alt="аса" /></p><br>
        <p>Сегодня, мы с Вами поговорим о том, как комбинировать все эти инструменты вместе, и собирать из них довольно большие и масштабные проекты! Мы сделаем первую небольшую игру и поговорим о том, как алгоритмы могут ускорить работу программы!</p>
        <p><img src="../static/img/puzzle.gif" width=100% alt="как" /></p>
        <br>
        <center><h3>Проект "Бинарный Поиск"</h3></center>
        <br>
        <p>Представьте, к луне на огромной скорости летит космический корабль. На этом корабле находится автономный лунный модуль, который в определенный момент - нужно отсоединить от ракеты. Момент - когда лунный модуль можно отсоединить --> очень короткий - всего 5 секунд. За эти 5 секунд, управляющая программа должна определить с какой скоростью включить двигатели несущей ракеты, в какой момент произвести отсоединение, какие погодные и ландшафтные условия на данном участке Луны. Всего 5 секунд, на все эти действия. И если не успеть, миссия провалена. Весь этот пример - обозначает, что некоторые программы --> должны уметь работать потрясающе быстро! Но! Может ли человек справляться с большими задачами (особенно на перебор) - быстрее?<br /><br /></p>
        <p>Допустим, Вы ищете фамилию человека в телефонной книге (Древняя технология). Фамилия -  начинается с буквы "К". Если не начинать листать справочник с самого начала, можно существенно ускорить поиск. Для этого - можно открыть книгу где-то посередине, так как буква "К" должна быть ближе к середине. Точно так же, если Вы ищете слово в словаре, начинающееся с буквы "О", лучше начать с середины.</p>
        <p>Или представьте, что Вы вводите свои данные для входа в социальной сети "Вконтакте". Вконтакте - должен проверить, есть ли у Вас учетная запись на сайте. Для этого сайту - нужно найти Ваше имя и пароль пользователя в в_своей базе данных. Вместо того чтобы начинать с буквы "А" и проверять все по порядку, сайте VK.com разумнее начать с середины cвоей базы данных.</p>
        <p>А вообще вспомните, в детстве вы точно также - играли в игру, где нужно было угадать загаданное число, которое, нам кто-то загадал.&nbsp;Чаще всего мы полагались на интуицию, но могли бы использовать хитрую логику и всегда выигрывать!</p>
        <p>Во всех этих случаях мы сталкиваемся с задачей поиска, и для ее решения можно использовать один алгоритм - бинарный поиск. Бинарный поиск - это некая идея, что если есть упорядоченные данные. То можно искать в них что-то не перебирая элементы по одному, а постоянно целиться в середину. Каждый раз отсекая половину неверных ненужных данных. Посмотрите как на картинке ниже, два алгоритма ищут цифру 9. Линейный алгоритм просто перебирает цифры одна за другой. А вот бинарный алгоритм используя проверку чисел по-середине - оказывается быстрее!</p>
        <p><img src="../static/img/binary_search.gif" width=100% alt="как" /></p>
        <br>
        <p>Что же мы попытаемся с Вами сегодня сделать? Мы напишем небольшую игру! Компьютер будет случайным образом выбирать число от 1 до 100 (включительно). А далее компьютер предложит Вам 7 раз сделать одно и тоже! А именно Вам будет предложено угадать это число, Если угадаете за 7 попыток, то вы выйграли. А если спустя 7 попыток, вы все еще не сможете угадать число, вы проиграли!<br /><br />То есть вы сможете выйграть если поймете, как работает бинарный поиск, и как, с его помощью - ускорять свои действия.</p>

        <p>Попробуем сначала сыграть самостоятельно. Сами! Это могло бы быть примерно так:</p>
        <p>Хорошо, давайте начнем игру! И будем использовать бинарный поиск, что бы угадывать быстро!</p>
        <p>&nbsp;</p>
        <p>Вами загадано некое число! От 1 до 100! И Вы даете мне только 7 попыток его отгадать!</p>
        <p>&nbsp;</p>
        <p>1. Начну с предположения, что загаданное число равно 50 (середина диапазона от 1 до 100).</p>
        <p>2. Затем я задам вопрос: "Загаданное число больше 50 или меньше?"</p>
        <p>3. В зависимости от ответа, я буду сужать диапазон поиска. Например, если загаданное число больше 50, то я буду искать в диапазоне от 51 до 100.</p>
        <p>4. Затем я выберу середину нового диапазона (середина диапазона 51 - 100 - это 75) и задам вопрос снова.</p>
        <p>5. Я буду повторять этот процесс, сужая диапазон поиска каждый раз вдвое, пока не угадаю число или не закончатся попытки.</p>
        <p>6. Если я угадываю число, то игра заканчивается и я сообщаю результат. Если же заканчиваются попытки и я не угадал число, то сообщаю об этом.</p>
        <br>
        <br>
        <p><img src="../static/img/galifas.jpg" width=100% alt="как" /></p>
        <br>
        <p>&nbsp;</p>
        <p>Полное описание ходов:</p>
        <p>1. Предположение: 50</p>
        <p>2. Ваш Ответ: Загаданное число больше 50</p>
        <p>3. Новый диапазон: 51-100</p>
        <p>4. Предположение: 75</p>
        <p>5. Ваш Ответ: Загаданное число меньше 75</p>
        <p>6. Новый диапазон: 51-74</p>
        <p>7. Предположение: 62</p>
        <p>8. Ваш Ответ: Загаданное число больше 62</p>
        <p>9. Новый диапазон: 63-74</p>
        <p>10. Предположение: 68</p>
        <p>11. Ваш Ответ: Загаданное число меньше 68</p>
        <p>12. Новый диапазон: 63-67</p>
        <p>13. Предположение: 65</p>
        <p>14. Ваш Ответ: Загаданное число больше 65</p>
        <p>15. Новый диапазон: 66-67</p>
        <p>16. Предположение: 66</p>
        <p>17. Ваш Ответ: Загаданное число найдено!</p>
        <p>Таким образом, я буду сужать диапазон поиска вдвое на каждом шаге, используя информацию об отношении загаданного числа к моему предположению. Это позволяет мне быстро сокращать возможные варианты и угадывать число за ограниченное число попыток.</p>
        <br>
        <br>
        <p><img src="../static/img/programmer.gif" width=100% alt="как" /></p>
        <br>
        <p>Отлично! Разделим написание такого проекта на небольшие задачи!&nbsp;<br /><br /><br /></p>
        <ol>
        <li>Научить компьютер загадывать случайное число - команда import</li>
        <li>7 раз дать пользователю попытку отгадать - цикл</li>
        <li>Давать пользователю возможность вводить числа с клавиатуры - input</li>
        <li>Научить программу - отвечать пользователю, больше ли введенное им чиcло ---> загаданного или меньше. Эту неопределенность будем решаем с помощью - if и else</li>
        <li>Будем выводить на экран сообщение о победе или пройгрыше - print</li>
        </ol>
        <p>&nbsp;</p>
        <p>Сначала, решим задачу определения случайного числа. Для этого нам может пригодиться чужая программа с названием random. В этой программе есть команды которые просят компьютер выбрать случайное число из диапазона.&nbsp;<br /><br />используя ключевое слово import позаимствуем из программы random команды, и сложим эти команды в коробку r. Так же нам имеет смысл сразу позаимствовать команды из программы turtle.<br /><br />Так что первые две строчки нашей программы будут:</p>
        <p>&nbsp;</p>
        <p><em><strong>import turtle as t</strong></em></p>
        <p><em><strong>import random as r</strong></em></p>
        <p>&nbsp;</p>
        <p>А что бы воспользоваться командой из программы random по поиску случайного числа - используем такую строчку.</p>
        <p><em><strong>n = r.randint(1,100) </strong></em>#тут бы просим компьютер выбрать случайное число от 1 до 100 и сохранить его в переменной n.</p>
        <p>&nbsp;</p>
        <p>Наша первая задача выполнена! Мы научились выбирать случайное число!</p>
         <br>
        <br>
        <p><img src="../static/img/cube.gif" width=100% alt="как" /></p>
        <br>
        <p>Решаем вторую задачу! Теперь задумаемся - мы должны угадать число с семи попыток! Значит мы должны 7 раз повторять команду input(). А если в нашей программе в одном и том же месте что-то будет повторяться, нам нужно использовать цикл for на 7 повторов. Поэтому - следующей нашей строчкой программы станет --&gt;</p>
        <p><em><strong>for i in range(7): #</strong></em> цикл</p>
        <p>То есть - мы создаем цикл, который будет перебирать числа 0,1,2,3,4,5,6 и пока эти числа перебираются в мусорной переменной. Цикл будет повторять инструкции, которые мы укажем внутри него при помощи отступов!</p>
        <p>&nbsp;</p>
        <p>Решаем третью задачу - будем запрашивать число с клавиатуры! Для этого, конечно же, мы будем использовать команду input(). Внутри скобочек - мы разместим подсказу "Введи число". И будем все это сохранять в переменную x. Но не забывайте, все что пользователь введет с клавиатуры - будет являться символом, и вести себя будет как символ.</p>
        <p>То есть если вы с клавиатуры по запросу команды input() ведете число 10 - то в компьютер оно попадет как символ - '10'. Что бы этого избежать мы немного модифицируем команду input(). И в нашей программе следующая строчка станет такой.</p>
        <p><em><strong>x = int(input())&nbsp;</strong></em></p>
        <p>обертка int() - обозначает, что мы пытаемся превратить символ "10" в число 10!</p>
        <p>&nbsp;</p>
        <br>
        <br>
        <p><img src="../static/img/cat-asleep.gif" width=100% alt="как" /></p>
        <br>
        <p>&nbsp;</p>
        <p>Четвертая задача! То число, которое пользователь введет в команду input(). Будет являться неопределенностью, поскольку прямо сейчас - заранее мы не можем предсказать, какое именно это будет число. Если пользователь вводит число, то программа может пойти по трем сценариям.</p>
        <ol>
        <li>Пользователь угадал число и тогда мы должны вывести ему на экран командой print() - сообщение "ты угадал"</li>
        <li>Пользователь ввел число и оно оказалось меньше загаданного - так и скажем в команде print()</li>
        <li>Пользователь ввел число и оно оказалось больше загаданного - так и скажем в команде print()</li>
        </ol>
        <p>Раз у нас три пути - то потребуются три варианта действий.&nbsp; Распишем их!&nbsp;</p>
        <p><br /><br /><em><strong>if x == n:</strong> </em># если введенное число совпало с загаданным</p>
        <p><em><strong>&nbsp; &nbsp; print('ты угадал число')</strong></em></p>
        <p><em><strong>&nbsp; &nbsp; break</strong></em></p>
        <p><em><strong>elif x &gt; n:&nbsp;</strong></em># если введенное больше загаданного</p>
        <p>&nbsp; &nbsp; <em><strong>print('Твое число слишком большое, ищи в меньшем диапазоне')</strong></em></p>
        <p><em><strong>else:&nbsp;</strong></em># отводится варианту когда введенное число меньше заданного</p>
        <p>&nbsp; &nbsp; <strong>print('Твое число слишком маленькое, ищи в&nbsp;большем диапазоне')</strong></p>
        <p>&nbsp;</p>
        <p>Отлично! Теперь мы справились и с задачей неопределенности!</p>
        <p>Осталось совсем немногое! Пятая задача! В конце нам нужно определить - победили мы или проиграли! Для этого добавим вот такой блок кода к нашему циклу.&nbsp;<br /><br /></p>
        <p><strong>else:</strong></p>
        <p><strong>&nbsp; &nbsp; &nbsp;print('вы проиграли')</strong></p>
        <p>&nbsp;</p>
        <p>Да, у цикла for тоже есть команда else, она срабатывает если цикл не прерывали, конструкций break.</p>
        <p>В конечном итоге, вся программа будем выглядеть так:</p>
        <p>&nbsp;</p>
        <p><em><strong>import random as r</strong></em></p>
        <p><em><strong>import turtle as t</strong></em></p>
        <p>&nbsp;</p>
        <p><em><strong>n = r.randint(1, 100)</strong></em></p>
        <p><em><strong>for i in range(7):</strong></em></p>
        <p><em><strong>&nbsp; &nbsp; &nbsp; x = int(input())</strong></em></p>
        <p><em><strong>&nbsp; &nbsp; &nbsp; if x == n:&nbsp;</strong></em></p>
        <p><em><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; print('ты угадал число')</strong></em></p>
        <p><em><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; break</strong></em></p>
        <p><em><strong>&nbsp; &nbsp; &nbsp; elif x &gt; n:&nbsp;</strong></em></p>
        <p><em><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;print('Твое число слишком большое, ищи в меньшем диапазоне')</strong></em></p>
        <p><em><strong>&nbsp; &nbsp; &nbsp; else:&nbsp;</strong></em></p>
        <p><em><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;print('Твое число слишком маленькое, ищи в&nbsp;большем диапазоне')</strong></em></p>
        <p><em><strong>else:</strong></em></p>
        <p><em><strong>&nbsp; &nbsp; &nbsp;print('Вы проиграли')</strong></em></p>
        <p>&nbsp; &nbsp; &nbsp;</p>
        <p>Наш первый проект - готов и работает. Отточите на нем свои навыки бинарного поиска. И попробуйте уверенно побеждать компьютер. Так же в этом проекте сделайте сами&nbsp;одно задание:</p>
        <p>вместо команды print()&nbsp; - попробуйте выводить сообщения о победе или пройгрыше командой t.write('You Win') или&nbsp;t.write('You Lose')</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </div>
{% endblock content%}